doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/static/css/bootstrap.min.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Geologica&display=swap" rel="stylesheet")
    title=title
  body
    div.container-fluid
      div.row 
        div.col-sm-2.bg-dark.p-4
          block sidebar
            ul.sidebar.d-flex.flex-column.gap-2
              li
                a(href='/' class="text-decoration-none text-reset") Home
              li
                a(href='/forums/cats' class="text-decoration-none text-reset") Cats Forum
              li
                a(href='/forums/dogs' class="text-decoration-none text-reset") Dogs Forum  
              li
                a(href='/forums/lizards' class="text-decoration-none text-reset") Lizards Forum
              li
                a(href='/forums/snakes' class="text-decoration-none text-reset") Snakes Forum
        div.col-sm-10.bg-secondary.p-2.d-flex.flex-column
          if(currentUser)
            div.d-flex.align-items-center
              div.w-100=currentUser.username 
              a(href="/sign-out")
                button.btn.btn-light.btn-sm Sign Out
          h1.text-center=title
          block content
    
  