extends layout

block content
    if(currentUser)
        div.text-center
            p You are already signed in #{currentUser.first_name} #{currentUser.last_name}!
            p Wanna sign out?
            a(href="/sign-out")
                button.btn.btn-danger Sign out
    else
        form.d-flex.flex-column.align-items-center(action="", method="POST")
            div.mx-3.col-sm-3.text-center
                label(for="username") Username
                input(type="text" name="username" id="username" class="form-control")
                label(for="password" class="mt-3") Password
                input(type="password" name="password" id="password" class="form-control")
                button(type="submit" class="btn btn-primary mt-3") Submit
    if(message)
        div.mx-3.mt-2.text-center
            p.text-warning=message[message.length - 1]